:root {
  --background: #002b36;
  --primaryTextColor: #93a1a1;
  --secundaryTextColor: #73ABAD;
  --highlightTextColor: #B89076;
  --white: #fff;
}


body {
    margin: 0;
    padding: 15px 20px;
    min-height: 99%;
    width: 100vw;
    min-width: 550px;
    color: var(--primaryTextColor);
    background: var(--background);
    font-family: cursor, monospace;
    overflow-x: hidden;
  }
  ::selection {
    color: var(--background);
    background-color: var(--primaryTextColor);
  }
  ::-moz-selection {
    color: #211830;
    background-color: var(--primaryTextColor);
  }
  textarea {
    position: absolute;
    left: -100vw;
    background-color: var(--background);
    border: none;
    color: white;
  }

  b {
    font-weight: bold;
    text-decoration: underline;
  }

  /* Cursor Start */
  .cursor {
    font-size: 0.75rem;
    color: var(--secundaryTextColor);
    background-color: var(--secundaryTextColor);
    position: relative;
    opacity: 1;
    height: 1.5em;
    width: 10px;
    max-width: 10px;
    transform: translateY(4px);
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  #command {
    cursor: text;
    height: 50px;
    color: var(--secundaryTextColor);
  }
  #liner {
    line-height: 1.3em;
    margin-top: -2px;
    animation: show 0.5s ease forwards;
    animation-delay: 1.2s;
    opacity: 0;
  }
  #liner::before {
    color: var(--primaryTextColor);
    content: "guest@ealpizarp.com:~$";
  }
  #liner.password::before {
    content: "Password:";
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Cursor End */


  

  
  p {
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.05em;
    animation: typing 0.5s steps(30, end);
  }
  .no-animation {
    animation: typing 0 steps(30, end);
  }
  .margin {
    margin-left: 20px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .index {
    color: #DCDCCC;
  }
  .color2 {
    color: var(--highlightTextColor);
  }
  .command {
    color: var(--secundaryTextColor);
    text-shadow: 0 0 5px var(--secundaryTextColor); 
  }
  .error {
    color: var(--highlightTextColor);
  }
  .white {
    color:var(--white);
  }
  .inherit,
  a {
    color: #9C8394;
  }
  a {
    text-decoration: inherit;
  }
  a:hover {
    background: var(--secundaryTextColor);
    color:var(--background);
  }
  a:focus {
    outline: 0;
  }